/*
 * Vars
 */

$fa-font-path: '../bower_components/font-awesome-sass/assets/fonts/font-awesome/';

/*
 * Vendor
 */
@import "bootstrap";
@import "font-awesome";

$btn-font-weight: 300;
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

html {
	height: 100%;
}

body {
	height: 100%;
	font-weight: 300;
}

h1 {
	font-size: 3rem;

}

.splash-mast {
	padding-top: 20px;
	margin-top: -20px;
	background-image: linear-gradient(45deg, rgba(#4E9862,.95) 10%, rgba(#BEFFB0, .95) 90%), url('/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid #d8d8d8;
}

.splash-mast__body {
	padding: 40px 0 20px;
	background: none;
	text-align: center;
	font-size: 2rem;

	@media (max-width: $screen-xs-max) {
		padding: 20px 0 0;
	}

	h1 {
		color: #fff;
		font-size: 6rem;
		text-shadow: 0px 2px 1px #4E9862;
	}

	.btn {
		margin: 20px 0 0;
		font-size: 2.5rem;
		background: transparent;
		padding: 1.1rem 2.2rem;
		border-color: #fff;
		color: #fff;
		box-shadow: 0 0 6px darken(#86CA87, 20%);

		&:hover, &:focus {
			background: #fff;
			color: #86CA87;
			text-shadow: 0 1px 0 darken(#86CA87, 20%);
			box-shadow: 0 0 5px darken(#86CA87, 20%);
		}
	}

}
.splash-stats {
	background: linear-gradient(rgba(#fff, 0) 5%, rgba(#4a4a4a, .5) 95%);
	text-align: center;
	color: #fff;
	padding: 40px 0;
	position: relative;
	font-family: 'Roboto';

	@media (max-width: $screen-xs-max) {
		padding-top: 0;
	}

	h3 {
		font-weight: 300;
		text-shadow: 0px 1px 0 #333;
	}

	h4 {
		font-weight: 300;
	}

	.lead-in {
		position: absolute;
		left: 20px;
		top: 0;
	}

	.lead-out {
		position: absolute;
		right: 20px;
		bottom: 0;
	}

	.big {
		font-weight: 600;
		font-size: 1.8em;
	}
}

.splash-leagues {
	padding: 20px 0;
}

.site-nav {
	background: rgba(255,255,255,.5);

	a {
		color: #fff;
	}
}



.site-footer {
	padding: 40px 0;
	border-top: 1px solid #d8d8d8;
}

.nav-left {

	.nav {
		float: left;
		margin-right: 20px;
	}

	.nav-content {
		overflow: hidden;
	}
}

.media-heading {
	text-align: center;
	margin-bottom: 1.4rem;
}

.match {
	display: flex;
	margin-bottom: 10px;
}

.match__team {
	flex: 3;

	&:first-of-type {
		text-align: right;
	}
	&:last-of-type {
		text-align: left;
	}
}

.match__score {
	text-align: center;
	flex: 1;
}

.score-box {
	display: flex;
}
.score-box__sep {
	flex: 1;
}
.score-box__left {
	flex: 2;
	text-align: right;
}
.score-box__right {
	flex: 2;
	text-align: left;
}
