@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.nav-left {

	.nav {
		float: left;
		margin-right: 20px;
	}

	.nav-content {
		overflow: hidden;
	}
}

.media-heading {
	text-align: center;
}

.match {
	display: flex;
	margin-bottom: 10px;
}

.match__team {
	flex: 3;

	&:first-of-type {
		text-align: right;
	}
	&:last-of-type {
		text-align: left;
	}
}

.match__score {
	text-align: center;
	flex: 1;
}
